.body{
    width: 320px;
    height: fit-content;
    margin: 0;
    padding: 0;
    margin: auto;
}

@media(min-width: 768px){
    .body{
        width: 768px;
    }
}

@media(min-width: 1120px){
    .body{
        width: 1120px;
    }
}
