.menu-footer {
    display: flex;
    flex-direction: column;
    height: 220px;
}

.menu-footer-buttons {
    display: flex;
    padding-left: 24px;
}

.menu-footer-buttons__button {
    margin-right: 16px;
}


